{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card-deck">
    <div class="card">
        <a href = ""><img src="{% static 'images/shop.png' %}" class="card-img-top"></a>
        <div class="card-body">
          <h5 class="card-title">의류</h5>
          <p class="card-text"></p>
        </div>
    </div>
    <div class="card">
        <a href = ""><img src="{% static 'images/shop.png' %}" class="card-img-top"></a>
        <div class="card-body">
          <h5 class="card-title">생필품</h5>
          <p class="card-text"></p>
        </div>
    </div>
    <div class="card">
        <a href = ""><img src="{% static 'images/shop.png' %}" class="card-img-top"></a>
        <div class="card-body">
          <h5 class="card-title">전자기기</h5>
          <p class="card-text"></p>
        </div>
    </div>
</div>
{% endblock %}